<!DOCTYPE html>
<html lang="en">
    <header>
        <title></title>
    </header>

 <body>
     <h1>this is the details page</h1>
     
     
    
       


     <main>
        <!-- {% for item in todo_items_items %} 
    
        
        
        <p>{{item.task}}</p> -->
        <a href="{% url 'todo_list_detail' list.id %}">Detail</a>
        <a href="{% url  'todo_list_delete' list.id%}">Delete List</a> 
        <a href="{% url  'todo_list_edit' list.id%}">edit List</a>

        <!-- {% endfor %} -->


    </main>
 </body>


</html>