<h1> This is a edit name of list page</H1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
          <button class="button">sumbit editted name </button>
        </div>
      </form>

    </main>
</body>