<!DOCTYPE html>
<html lang="en">
<head>
    <title> New Todo Item</title>
</head>
<body>

    <h1> This is a create Items page</H1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
          <button class="button">Create </button>
        </div>
      </form>

    </main>
</body>


</html>