
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
 <body>
    <header>
        <h1> We are making todo list on this page </h1>
        <nav>
            
           
        </nav>

        
    </header>

     
        <a href="{% url 'todolist_new' %}">Create A New List</a>
        <a href="{% url  'todo_items_items' %}">Create A New Item</a>
        
          
         
          


    <main>
        {% for list in to_do_lists_list %} 
    
        
        
        <p>{{list.name}}</p>
        <a href="{% url 'todo_list_detail' list.id %}">Detail</a>
        <a href="{% url  'todo_list_delete' list.id%}">Delete List</a> 
        <a href="{% url  'todo_list_edit' list.id%}">edit List</a>

        {% endfor %}


    </main>
 </body>


</html>