<!DOCTYPE html>
<html lang="en">
<head>
    <title> New Todo List</title>
</head>
<body>

    <h1> This is a create list page</H1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="control">
          <button class="button">Create A New List</button>
        </div>

      </form>
      <div>
        <a href="{% url  'todo_items_items' %}">Create A New Item</a>
    </div>

    </main>
</body>


</html>